<h1>View Company</h1>

<a href="#" routerLink="/company/list" class="btn btn-primary mb-2">Back</a>

<div>
  <strong>Nit:</strong>
  <p>{{ company.nit }}</p>
</div>

<div>
  <strong>Name:</strong>
  <p>{{ company.name }}</p>
</div>

<div>
  <strong>Address:</strong>
  <p>{{ company.address }}</p>
</div>

<div>
  <strong>Phone:</strong>
  <p>{{ company.phone }}</p>
</div>

<a href="#" routerLink="/company/list" class="btn btn-secondary mt-2 mb-2">
  Add a New Product
</a>

<div>
  <strong>List of Products</strong>
</div>


