<h1>Company List</h1>

<a href="#" routerLink="/company/create/" class="btn btn-success">Create New Company</a>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nit</th>
    <th>Name</th>
    <th width="250px">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of companies">
    <td>{{ c.nit }}</td>
    <td>{{ c.name }}</td>
    <td>
      <a href="#" [routerLink]="['/company/', c.nit, 'view']" class="btn btn-info">View</a>
      <a href="#" [routerLink]="['/company/', c.nit, 'edit']" class="btn btn-primary">Edit</a>
      <button type="button" (click)="deleteCompany(c.nit)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
